# Python
__pycache__/
*.pyc

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Environment
.env

# VS Code
.vscode/

# Logs
*.log

# Kubernetes
*.bak

# OS files
.DS_Store
Thumbs.db